@import "./variables";
@import ' ~material-design-icons-iconfont/src/material-design-icons';

html,
body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

span {
  font-weight: 600;
}

button,
input,
label {
  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

button,
label {
  cursor: pointer;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.between {
  justify-content: space-between;
}

.align {
  align-items: center;
}

.direction {
  flex-direction: column;
}

.text {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.padding {
  padding: $padding;
}

.padding-2 {
  padding: $padding*2;
}

.margin {
  margin: $margin;
}

.margin-2 {
  margin: $margin*2;
}

.border-none {
  border: none;
}

.border-radius {
  border-radius: $radius*2;
}

.bold-600 {
  font-weight: 600;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}

.pointer {
  cursor: pointer;
}

.bg-light {
  background-color: $light;
}

.bg_dark {
  background-color: $dark;
}

.color-white {
  color: white;
}

.btn {
  background-color: $light;
  color: $white;

  &:hover {
    background: $dark;
    cursor: pointer;
  }
}

.color-white {
  color: $white;

  &:hover {
    color: $dark;
    cursor: pointer;
  }
}

.color-dark {
  color: $dark;
  &:hover {
    color: $white;
    background: $dark;
    cursor: pointer;
  }
}

.color-light {
  color: $light;

  &:hover {
    color: $dark;
    cursor: pointer;
  }
}

.active_color {
  color: $white !important;
  background: $dark;
}

.router-link-active,
.router-link-exact-active,
.active__title {
  color: $dark !important;
}

.form-group {
  display: flex;
  max-width: 70%;
  margin: 0 auto;

  .form-control {
    width: 100%;
    padding: $padding;
    margin: $margin;
    border-radius: $radius*2;
    border: 1px solid rgba($dark, 0.3);
    font-size: 18px;
    color: $dark;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    &:-webkit-autofill{
      -webkit-text-fill-color: $dark !important;
    }
    &::placeholder {
      font-size: 16px;
      color: rgba($dark, 0.4);
    }
    &:focus {
      border: 1px solid $light;
    }
  }
  label {
    min-width: 190px;
    padding: $padding;
    margin: $margin;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    color: $dark;
  }
}