$padding: 8px;
$margin: 8px;
$radius: 4px;
$dark: #18770a;
$light-dark: #269d1f;
$light: #61c85b;
$very-light: #a5e0a4;
$white: #ffffff;
$material-design-icons-font-directory-path : '~material-design-icons-iconfont/dist/fonts/';